body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}

.video-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative;
    width: 100%;
    height: calc(100vh - 40px); /* Resta cualquier margen o relleno que pueda afectar la altura */
    overflow: hidden;
    margin-bottom: -40px; /* Compensa el margen negativo */
}

.video-container video {
    width: auto;
    height: 100%; /* Ocupa toda la altura del contenedor */
    object-fit: cover;
}

.info-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.507);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

.cyberpunk-text {
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-shadow: 0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 30px #0ff,
        0 0 40px #0ff,
        0 0 50px #0ff,
        0 0 60px #0ff,
        0 0 70px #0ff;
}

.circle-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
}

i.icon {
    font-size: 24px;
    color: black;
    margin: 10px;
}